.contentContainer {
  width: 100%;
  min-height: 100vh;
}

.contentContainer__contentSection {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
  align-items: center;
  min-height: 100%;
}
@media (min-width: 1200px) {
  .contentContainer {
    width: 100%;
  }
  .contentContainer__contentSection {
    width: 1000px;
  }
}
